<div class="background background_4_2">
    <div class="block-white shadow-round-block-small">
        <div class="block-title text-center">
        <span class="number">04</span>
        Кліматичні дані <br> по м. Запоріжжя
        </div> 
        <div class="text-center">за 25 липня &ndash; 26 листопада (1945-2015рр.)</div>
        <hr class="dash dash-blue">  
        <div class="list-item clear">
        <div class="f-l w-50">
            Середня за добу температура повітря за 25 листопада
            <p class="text-gray">спостерігалась у 2007 р.</p>
        </div>
        <div class="f-r text-white weather-date-big text-center text-bold">+2</div>
        </div>
        <div class="list-item clear">
        <div class="f-l w-50">
            Максимальна денна температура повітря за день 25 листопада
            <p class="text-gray">спостерігалась у 2007 р.</p>
        </div>
        <div class="f-r text-white weather-date-big text-center text-bold">+8</div>            
        </div>
        <div class="list-item clear">
        <div class="f-l w-50">
            Мінімальна температура повітря за ніч 26 листопада
            <p class="text-gray">спостерігалась у 1947 р.</p> 
        </div>
        <div class="f-r text-white weather-date-big text-center text-bold">-10</div>
        </div>
    </div>
    </div>
    <div class="block-white">
    <div class="container m-t-md m-b-md">
        Бюлетень складений о 13 годині 24.01.2017 р.
    </div>
</div>