<div class="block-white">
    <div class="container m-t-lg m-b-sm">
        <div class="list text-j">
        <div class="list-item">
            <div class="f-l text-white weather-date">20.11</div>
            <div class="over-hid">
            В Запорожье пасмурная погода уступила свои позиции во второй половине дня, но уже к вечеру небо опять затянулось облаками. Без осадков.
            </div>
        </div>
        <div class="list-item">
            <div class="f-l text-white weather-date">21.11</div>
            <div class="over-hid">
            В Запорожье пасмурная погода уступила свои позиции во второй половине дня, но уже к вечеру небо опять затянулось облаками. Без осадков.
            </div>
        </div>
        <div class="list-item">
            <div class="f-l text-white weather-date">22.11</div>
            <div class="over-hid">
            В Запорожье пасмурная погода уступила свои позиции во второй половине дня, но уже к вечеру небо опять затянулось облаками. Без осадков.
            </div>
        </div>
        <div class="list-item">
            <div class="f-l text-white weather-date">23.11</div>
            <div class="over-hid">
            В Запорожье пасмурная погода уступила свои позиции во второй половине дня, но уже к вечеру небо опять затянулось облаками. Без осадков.
            </div>
        </div>
        <div class="list-item">
            <div class="f-l text-white weather-date">24.11</div>
            <div class="over-hid">
            В Запорожье пасмурная погода уступила свои позиции во второй половине дня, но уже к вечеру небо опять затянулось облаками. Без осадков.
            </div>
        </div>
        </div>
    </div>
</div>