<div class="weather-block">
    <div class="table-responsive">
        <table class="table table-bordered weather-table">
        <thead>
            <tr>
            <th>Середа <p class="text-medium">20.11</p></th>
            <th>Четвер <p class="text-medium">21.11</p></th>
            <th>П'ятниця <p class="text-medium">22.11</p></th>
            <th>Субота <p class="text-medium">23.11</p></th>
            <th>Неділя <p class="text-medium">24.11</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                <div class="w-50 f-l text-center p-l-r-5">
                Ніч
                <p><img src="public/assets/svg/cloud_moon.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
                <div class="w-50 f-r text-center p-l-r-5">
                День
                <p><img src="public/assets/svg/cloud_sun.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
            </td>
            <td>
                <div class="w-50 f-l text-center p-l-r-5">
                Ніч
                <p><img src="public/assets/svg/cloud_rain.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
                <div class="w-50 f-r text-center p-l-r-5">
                День
                <p><img src="public/assets/svg/sun.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
            </td>
            <td>
                <div class="w-50 f-l text-center p-l-r-5">
                Ніч
                <p><img src="public/assets/svg/moon.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
                <div class="w-50 f-r text-center p-l-r-5">
                День
                <p><img src="public/assets/svg/cloud_rain_thunder.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
            </td>
            <td>
                <div class="w-50 f-l text-center p-l-r-5">
                Ніч
                <p><img src="public/assets/svg/cloud_rain.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
                <div class="w-50 f-r text-center p-l-r-5">
                День
                <p><img src="public/assets/svg/sun.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
            </td>
            <td>
                <div class="w-50 f-l text-center p-l-r-5">
                Ніч
                <p><img src="public/assets/svg/cloud_moon.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
                <div class="w-50 f-r text-center p-l-r-5">
                День
                <p><img src="public/assets/svg/cloud.svg"></p>
                <p>+13...+15</p>
                <p>7-12 м/с</p>
                <p><i class="la la-long-arrow-up la-lg"></i></p>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>