<div class="background background_13"></div>
    <div class="container m-b-md">
    <div class="block-title text-center">
        Події
    </div>  
    <div class="events">
        <% events.forEach(function (item){%>
            <% include ./item %>
        <% })%>      
        </div>
        <div class="text-center">
        <ul class="pagination">
            <li class="active"><a href="/event/1">1</a></li>
            <li><a href="/event/2">2</a></li>
            <li><a href="/event/3">3</a></li>
            <li><a href="/event/4">4</a></li>
            <li><a href="/event/5">5</a></li>
        </ul>
        </div>
    </div>      
</div>