<div class="background background_13"></div>
    <div class="container m-b-md">
    <div class="block-title text-center">
        Події
    </div>
    <div class="events" >
        <% events.forEach(function (item){%>
            <% include ./item %>
        <% })%>
    </div>
        <div class="text-center">
        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled"><a>Перша</a></li>
                <% } else { %>
                    <li><a href="/events/1">Перша</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/events/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a>Остання</a></li>
                <% } else { %>
                    <li><a href="/events/<%= pages %>">Остання</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
    </div>
</div>
