<div class="modal fade" id="recordsModal" tabindex="-1" role="dialog" aria-labelledby="recordsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header block-blue text-center text-white">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title m-b-sm" id="recordsModalLabel">Максимальна температура повітря:</div>
            <div class="text-bold text-big">+41,0</div>
            <h5>зареєстрована 07.08.2010&nbsp;р. на метеорологічній станції Мелітополь</h5>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
            <table class="table records-table">
                <tbody>
                <tr>
                    <td>08.08.2010</td>
                    <td>+40,4&deg;</td>
                    <td>Пришиб</td>
                </tr>
                <tr>
                    <td>08.08.2010</td>
                    <td>+38,3&deg;</td>
                    <td>Кирилівка (Пологівський район)</td>
                </tr>
                <tr>
                    <td>07.08.2010</td>
                    <td>+41,0&deg;</td>
                    <td>Мелітополь</td>
                </tr>
                <tr>
                    <td>10.08.2010</td>
                    <td>+39,6&deg;</td>
                    <td>Гуляйполе</td>
                </tr>
                <tr>
                    <td>14.07.1951</td>
                    <td>+40,1&deg;</td>
                    <td>Ботієве</td>
                </tr>
                <tr>
                    <td>01-02.08.1998</td>
                    <td>+38,6&deg;</td>
                    <td>Бердянськ</td>
                </tr>
                <tr>
                    <td>11.08.2010</td>
                    <td>+40,0&deg;</td>
                    <td>Запоріжжя</td>
                </tr>                  
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="text-gray m-t-b-10">&lt; Попередній рекорд</button>
            <button type="button" class="text-gray m-t-b-10 active">Наступний рекорд &gt;</button>
        </div>
        </div>
    </div>
</div>