<div class="background background_6"></div>
<div class="container m-b-xl">
  <div class="block-title text-center">
    Кліматичні рекорди
  </div>
  <div class="grid-container">
    <div class="grid">
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_max_temp"></div>
          <div class="text-white w-80 m-l-r-auto">Максимальна температура повітря</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_min_temp"></div>
          <div class="text-white w-80 m-l-r-auto">Мінімальна температура повітря</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_max_temp_soil"></div>
          <div class="text-white w-80 m-l-r-auto">Максимальна температура на поверхні ґрунту</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_min_temp_soil"></div>
          <div class="text-white w-80 m-l-r-auto">Мінімальна температура на поверхні ґрунту</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_max_speed"></div>
          <div class="text-white w-80 m-l-r-auto">Максимальна швидкість вітру</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_max_snow"></div>
          <div class="text-white w-80 m-l-r-auto">Найбільша висота снігового покриву на метеорологічному майданчику</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_max_rain_month"></div>
          <div class="text-white w-80 m-l-r-auto">Найбільша місячна кількість опадів</div>
        </div>
        <div class="item block-blue text-center" data-toggle="modal" data-target="#recordsModal">
          <div class="background img_max_rain_day"></div>
          <div class="text-white w-80 m-l-r-auto">Найбільша добова кількість опадів</div>
        </div>
    </div>
  </div>
</div>