.menu{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.ui.tabular.menu .active.item{
  border: 1px solid lightgray !important;
  border-radius: .28571429rem !important;
}

.dayInput{
  margin: 20px 20px;
  border: 2px solid black;
  padding: 10px;
}

.formTitle{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.label{
  margin-bottom: 0px;
  font-weight: bold;
}
