.inputItem{
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.inputWraper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nonFormInputWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.nonFormInput{
  width: 200px !important;
}

.buttonWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stationTitle{
  width: 100%;
  text-align: center;
}
