<footer class="footer">
  <div class="container">
    <div class="flex-block just-sp-ar">
        <a href="http://meteo.gov.ua/" target="_blank">Український гідрометцентр</a>
        <a href="http://cgo.kiev.ua/" target="_blank">Центральна геофізична обсерваторія</a>
    </div>
  </div>
</footer>
