
    <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          </div>
          <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Поточна погода
                <i class="la la-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle toggle-right" data-toggle="dropdown" href="#">По метеостанціям
                    <i class="la la-angle-right"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/current/zaporozhye">Запоріжжя</a></li>
                      <li class="divider"></li>
                      <li><a href="/current/berdyansk">Бердянськ</a></li>
                      <li class="divider"></li>
                      <li><a href="/current/botievye">Ботієве</a></li>
                      <li class="divider"></li>
                      <li><a href="/current/gulyaypole">Гуляйполе</a></li>
                      <li class="divider"></li>
                      <li><a href="/current/kyrylivka">Кирилівка</a></li>
                      <li class="divider"></li>
                      <li><a href="/current/melitopol">Мелітополь</a></li>
                      <li class="divider"></li>
                      <li><a href="/current/prism">Пришиб</a></li>
                    </ul>
                  </li>
                  <li class="divider"></li>
                  <li><a href="/meteorological_phenomena">Cтихійні гідрометеорологічні явища</a></li>
                </ul>
              </li>
              <li class="active"><a href="/hydrometeorological_bulletin">Гідрометеорологічний бюлетень</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Клімат
                <i class="la la-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/climatic_characteristic">Кліматична характеристика Запорізької області</a></li>
                  <li class="divider"></li>
                  <li><a href="/climatic_records">Кліматичні рекорди</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Гідрологія
                <i class="la la-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/hydrology_observable">Мережа гідрологічних спостережень</a></li>
                  <li class="divider"></li>
                  <li><a href="/regular_observations">Регулярні спостереження в період повені</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Агрометеорологія
                <i class="la la-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/agriculture">Використання в сільському господарстві</a></li>
                  <li class="divider"></li>
                  <li><a href="/decade_bulletin">Декадний бюлетень</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Забруднення
                <i class="la la-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/pollution">Забруднення повітря</a></li>
                  <li class="divider"></li>
                  <li><a href="/radiation">Радіаційний фон</a></li>
                </ul>
              </li>
              <li><a href="/events/1">Події</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Запорізький ЦГМ
                <i class="la la-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/structure">Структура</a></li>
                  <li class="divider"></li>
                  <li><a href="/contact">Контакти</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
