<div class="block-blue top-round-block text-center text-white">
        <div class="title text-bold">Умовні позначки</div>
        <div class="flex-block just-sp-ar">
          <div class="conventions-block">
            <div><img src="/public/assets/svg/fog.png"></div>
            <p>Туман</p>
          </div>
          <div class="conventions-block">
            <div><img src="/public/assets/svg/cloud_rain.png"></div>
            <p>Дощ</p>
          </div>
          <div class="conventions-block">
            <div><img src="/public/assets/svg/mist.png"></div>
            <p>Мряка</p>
          </div>
          <div class="conventions-block">
            <div><img src="/public/assets/svg/cloud_snow.png"></div>
            <p>Сніг</p>
          </div>
          <div class="conventions-block">
            <div><img src="/public/assets/svg/cloud_rain_snow.png"></div>
            <p>Дощ зі снігом</p>
          </div>
          <div class="conventions-block">
            <div><img src="/public/assets/svg/hail.png"></div>
            <p>Град <br> (льодяна крупа)</p>
          </div>
          <div class="conventions-block text-left">
            <p class="text-bold">Напрямок</p>
            <p><i class="la la-long-arrow-up la-2x m-r-xs"></i>Північний</p>
            <p><i class="la la-long-arrow-up la-2x m-r-xs rot-45"></i>Північно-східний</p>
          </div>
        </div>
</div>
