<div class="background background_12_2 over-auto">
        <div class="block-title text-center">
          <span class="number">02</span>
          Поточна погода
        </div>  
        <div class="text-center">24 листопада</div>
        <hr class="dash dash-blue">  
        <div class="container">
          <div class="background img_gray_map img_gray_map_small">
            <svg viewBox="0 0 668 599">
            </svg>
          </div>
        </div>   
</div>