<div class="background background_3"></div>
<div class="container m-b-xl">
  <div class="block-title text-center">
    Стихійні гідрометеорологічні явища
  </div>
  <div class="grid-container">
    <div class="grid">
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal1">
        <div class="background img_squall"></div>
        <div class="text-white w-80 m-l-r-auto">Вітер, у т.ч. шквали, смерчі</div>
        <p>максимальна швидкість</p>
      </div>
      <div class="item i1 block-blue text-center" data-toggle="modal" data-target="#phenomenaModal2">
        <div class="background img_black_ice"></div>
        <div class="text-white w-80 m-l-r-auto">Сильна ожеледь</div>
        <p>діаметр</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal3">
        <div class="background img_blizzard"></div>
        <div class="text-white w-80 m-l-r-auto">Сильні хуртовини</div>
        <p>швидкість вітру</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal4">
        <div class="background img_cloud_snow_big"></div>
        <div class="text-white w-80 m-l-r-auto">Дуже сильні снігопади</div>
        <p>кількість опадів</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal5">
        <div class="background img_cloud_rain_big"></div>
        <div class="text-white w-80 m-l-r-auto">Дуже сильний дощ</div>
        <p>кількість опадів</p>
      </div>
      <div class="item i2 block-blue text-center" data-toggle="modal" data-target="#phenomenaModal6">
        <div class="background img_max_snow"></div>
        <div class="text-white w-80 m-l-r-auto">Сильне налипання мокрого снігу</div>
        <p>діаметр відкладень (д)</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal7">
        <div class="background img_dust_storm"></div>
        <div class="text-white w-80 m-l-r-auto">Сильна пилова буря</div>
        <p>швидкість вітру</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal8">
        <div class="background img_fog_big"></div>
        <div class="text-white w-80 m-l-r-auto">Сильний туман</div>
        <p>видимість</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal9">
        <div class="background img_min_temp"></div>
        <div class="text-white w-80 m-l-r-auto">Сильний мороз</div>
        <p>температура повітря</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal10">
        <div class="background img_sun_big"></div>
        <div class="text-white w-80 m-l-r-auto">Сильна спека</div>
        <p>температура повітря</p>
      </div>
      <div class="item i1 block-blue text-center" data-toggle="modal" data-target="#phenomenaModal11">
        <div class="background img_snower_big"></div>
        <div class="text-white w-80 m-l-r-auto">крупний град</div>
        <p>діаметр</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal12">
        <div class="background img_cloud_rain_big"></div>
        <div class="text-white w-80 m-l-r-auto">Сильні зливи</div>
        <p>кількість опадів</p>
      </div>
      <div class="item block-blue text-center" data-toggle="modal" data-target="#phenomenaModal13">
        <div class="background img_cloud_rain_big"></div>
        <div class="text-white w-80 m-l-r-auto">Тривалі дощі</div>
        <p>кількість опадів</p>
      </div>
    </div>
  </div>
</div>
