<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="background background_17"></div>
            <div class="container m-b-md">
              <div class="block-title text-center">
                Контакти
              </div>
              <div class="block-sub-title text-center">
                Поштова адреса: 69050, м. Запоріжжя, пр. Соборний, 105
              </div>
              <div class="list">
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Начальник центру
                  </div>
                  <div class="m-l-xl">Черник Інна Георгіївна</div>
                  <div class="m-l-xl">т.: 061-787-62-14</div>
                  <div class="m-l-xl">email: pgdzaporozh@meteo.gov.ua</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Заступник начальника центру
                  </div>
                  <div class="m-l-xl">Сорокіна Тетяна Петрівна</div>
                  <div class="m-l-xl">т.: 061-787-62-06</div>
                  <div class="m-l-xl">email: pgdzaporozh@meteo.gov.ua, cgm@ukr.net</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Завідувач сектору бухгалтерського обліку - головний бухгалтер
                  </div>
                  <div class="m-l-xl">Дуплій Олена Володимирівна</div>
                  <div class="m-l-xl">т.: 061-787-62-08</div>
                  <div class="m-l-xl">email: buhzaporozh@meteo.gov.ua</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Начальник відділу гідрометеорологічного забезпечення
                  </div>
                  <div class="m-l-xl">Мелешко Ірина Олександрівна</div>
                  <div class="m-l-xl">т.: 061-787-62-06</div>
                  <div class="m-l-xl">email: pgdzaporozh@meteo.gov.ua, zcgm@ukr.net</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Сектор метеорологічних прогнозів, черговий синоптик
                  </div>
                  <div class="m-l-xl">т.: 061-787-62-09</div>
                  <div class="m-l-xl">email: sinzaporozh@meteo.gov.ua</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Сектор агрометеорології
                  </div>
                  <div class="m-l-xl">т.: 061-262-20-19</div>
                  <div class="m-l-xl">email: agrozaporozh@meteo.gov.ua</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Відділ гідрології
                  </div>
                  <div class="m-l-xl">т.: 061-279-02-16</div>
                  <div class="m-l-xl">email: hydrozaporozh@meteo.gov.ua</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Комплексна лабораторія спостережень за забрудненням навколишнього природного середовища
                  </div>
                  <div class="m-l-xl">т.: 061-233-27-81</div>
                  <div class="m-l-xl">email: himrozaporozh@meteo.gov.ua</div>
                </div>
              </div>
            </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>