<!DOCTYPE html>
<html lang="en">

        <% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <% include ../partials/CurrentWeather/currentWether %>
    <% include ../partials/CurrentWeather/WeatherTable %>
    <% include ../partials/footer %>
    <% include ../partials/CurrentWeather/mapScript %>
    <% include ../partials/scripts %>
</body>
</html>