<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <div class="background background_10"></div>
        <div class="container m-b-md">
            <div class="block-title text-center">
            Декадний бюлетень
            </div>
            <div class="list text-j">
                <%- decada%>
            </div>
        </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>