<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <% include ../partials/zptemperature %>
        <% include ../partials/hydrometeorological_bulletni/weatherObl %>
        <% include ../partials/CurrentWeather/currentWether %>
        <% include ../partials/CurrentWeather/conventions %>
        <% include ../partials/waterTemperature %>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
    <% include ../partials/HomeScript %>
</body>
</html>


