<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="background background_7"></div>
            <div class="container m-b-md">
              <div class="block-title text-center">
                Мережа гідрологічних спостережень
              </div>
              <div class="list text-j">
                <div class="list-item">
                  Вода є необхідною умовою існування життя на Землі, без неї неможливий економічний і соціальний розвиток суспільства.
                  Разом з тим, водна стихія може обумовити значне лихо.
                  Снігові та дощові паводки і повені супроводжуюються значними збитками.
                  Спостереження за гідрологічним режимом водних об'єктів, що здійснює гідрометеорологічна служба, мають велике значення для оцінки, раціонального використання та охорони водних ресурсів.
                </div>
                <div class="list-item">
                  На території Запорізької області мережа гідрологічних спостережень складається із гідрологічних постів на річках Приазов'я (ГП) 
                  та озерних гідрологічних постів (ОГП) на Дніпровському та Каховському водосховищах, а саме:
                </div>
                <div class="list-item">
                  <div class="flex-block just-inh text-left">
                    <div class="m-l-r-10">
                      <div class="m-b-sm text-blue text-bold">На річках Приазов'я:</div>
                      <ul>
                        <li>ГП р.Молочна &nbsp; <span class="text-gray">м.Токмак</span></li>
                        <li>ГП р.Молочна &nbsp; <span class="text-gray">с.Терпіння</span></li>
                        <li>ГП р.Берда &nbsp; <span class="text-gray">с.Осипенко</span></li>
                        <li>ГП р.Обитічна &nbsp; <span class="text-gray">м.Приморськ</span></li>
                        <li>ГП р.Лозуватка &nbsp; <span class="text-gray">с.Новоолексіївка</span></li>
                      </ul>
                    </div>
                    <div class="m-l-r-10">
                      <div class="m-b-sm text-blue text-bold">На Дніпровському водосховищі:</div>
                      <ul>
                        <li>ОГП Запоріжжя</li>
                        <li>верхній б'єф Дніпровської ГЕС</li>
                      </ul>
                    </div>  
                    <div class="m-l-r-10">
                      <div class="m-b-sm text-blue text-bold">На Каховському водосховищі:</div>
                      <ul>
                        <li>ОГП Розумівка</li>
                        <li>ОГП Плавні</li>
                        <li>ОГП Благовіщенка</li>
                      </ul>                
                    </div>                          
                  </div>
                </div>
              </div>
              <div class="background img_hydrological_map"></div>
            </div>
    </section>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>