<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="background background_11"></div>
            <div class="block-blue text-white">
              <div class="block-title text-center">
                <span class="number">01</span>
                Забруднення повітря
              </div>
              <div class="container m-b-xl">
                <div class="list text-j">
                  <div class="list-item">
                    В процессі забруднення атмосфери поряд із різними природними явищами (виверження вулканів, лісові пожежі, вивітрювання і ерозії, тощо)
                    все більшу роль відіграє діяльність людини, яка пов'язана з освоєннями природних багатств, розвитком і вдосконаленням промисловості, сільського
                    господарства, енергетики і транспорту. Напружений екологічний стан в Запорізькому регіоні в першу чергу обумовлений особливостями промисловості,
                    в якій переважає чорна та кольорова металургія, які і створюють високе екологічне навантаження на природну середу.
                  </div>
                  <div class="list-item">
                    Спостереження за забрудненням атмосферного повітря в місті Запоріжжя проводяться на 5-ти стаціонарних постах, які розташовані в
                    Орджонікідзевському, Ленінському та Жовтневому районах міста (ПСЗ №№ 9-13). Визначення вмісту забруднюючих речовин в пробах повітря, які були відібрані на цих постах,
                    виконують фахівці Комплексної лабораторії спостережень за забрудненням природного середовища Запорізького обласного центру з гідрометеорології.
                    Однією з характеристик забруднення атмосферного повітря є рівень радіації. Радіаційне поле у приземному шарі атмосфери та на поверхні землі формується
                    переважно гамма-випромінюючими радіонуклідами природного походження, які утворюються в верхніх шарах атмосфери та присутні в літосфері з часу створення Землі.
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="background img_posts_map"></div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="block-white posts-block">
                      <table class="table posts-table">
                        <tbody>
                          <tr>
                            <td class="text-blue text-bold">Пост №9</td>
                            <td>вул. Рекордна, 2</td>
                          </tr>
                          <tr>
                            <td class="text-blue text-bold">Пост №10</td>
                            <td>бульвар Шевченка, 25</td>
                          </tr>
                          <tr>
                            <td class="text-blue text-bold">Пост №11</td>
                            <td>вул. Миру, 1</td>
                          </tr>
                          <tr>
                            <td class="text-blue text-bold">Пост №12</td>
                            <td>вул. Шкільна, 24а</td>
                          </tr>
                          <tr>
                            <td class="text-blue text-bold">Пост №13</td>
                            <td>пров. Черкаський, 19</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="block-white">
              <div class="container m-b-md">
                <div class="block-title text-center">
                  <span class="number">02</span>
                  Забруднення повітря у м. Запоріжжя
                </div>
                <div class="text-center m-t-lg">
                  Середня концентрація забруднюючих речовин по постах спостережень в кратності ГДК <br> <%= month %> <%= year %>
                </div>
                <hr class="dash dash-blue">
                <canvas id="myChart" height="400" width="500"></canvas>
              </div>
            </div>
    </section>
    <div class='test' data-test-value='<%= JSON.stringify(pollution) %>'></div>
    <% include ../partials/footer %>
    <% include ../partials/ChartScript %>
    <% include ../partials/scripts %>
</body>
</html>
