<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="container m-b-md">
                    <div class="list text-j">
                      <div class="text-right text-gray m-t-lg">12.01.2017</div>
                      <div class="block-title text-center text-blue text-bold">
                        14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14)
                      </div>
                      <div class="background background_event m-b-lg"></div>
                      <div class="list-item">
                        Прогноз заснований на розрахунках динамічних, статистичних моделей і відомих далеких кореляційних зв'язках великомасштабних кліматичних особливостей циркуляції.
                        Аналіз поточного стану рушійних факторів, підготовлених MedCOF-5 (П'ятий Кліматичний форум країн Середземномор'я) також стосується і країн Південно-Східної Європи.
                      </div>
                      <div class="list-item">
                        Сильне і тривале Ель-Ніньо, наявне в тропічній частині Тихого океану, досягне піку приблизно в кінці року (2015), і це має впливати на зимові умови.
                        Нижча, ніж в середньому, температура поверхні моря в Північній Атлантиці на південь від Гренландії, за прогнозами, збережеться протягом найближчих декількох місяців, 
                        що забезпечить деяку передбачуваність для зими в регіоні Південно-Східної Європи теж.
                        Квазідворічне коливання (QBO), наявне в даний час, буде залишатися протягом наступних декількох місяців в західній фазі.
                        Місцеві "драйвери", такі як температура поверхні води Середземного і Чорного моря, також можуть відіграть свою роль у формуванні циклонів в даному регіоні.
                      </div>
                      <div class="list-item">
                        Карти показують імовірнісний прогноз аномалій для сезонної середньої температури і опадків в категоріях терціль 
                        (вище норми; норма; нижче норми) по відношенню до базового періоду 1981-2010.
                      </div>
                      <div class="list-item">
                        Поєднання наслідків вищенаведених драйверів буде істотно впливати на циркуляцію над зоною нашого інтересу.
                        Більшість кліматичних моделей прогнозують антициклонічні аномалії з полюсом над північно-західною Африкою і полюс циклонічних аномалій над північно-західною Європою.
                        В результаті, позитивні аномалії температури будуть переважати в усій області нашого інтересу (мал.1 для зимових середніх температур).
                        Сигнал температури буде сильніший у південній половині Балканського півострова і на західному узбережжі Туреччини.
                      </div>
                    </div>
                  </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>