<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="container m-b-md">
                    <div class="list text-j">
                      <div class="text-right text-gray m-t-lg"><%= event.date %></div>
                      <div class="block-title text-center text-blue text-bold">
                        <%= event.title %>
                      </div>
                      <div class="background background_event m-b-lg" style="background-image: url('http://77.120.123.202:3001/public/Events/<%= event.Picture %>')"></div>
                      <div class="list-item text-style">
                          <%= event.Text %>
                      </div>
                    </div>
                  </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>