<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
            <div class="background background_15"></div>
            <div class="container m-b-md">
              <div class="block-title text-center">
                Структура <br> Запорізького обласного центру з гідрометеорології
              </div>
              <div class="list">
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Адміністрація
                  </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Сектор бухгалтерського обліку
                  </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Відділ гідрометеорологічного забезпечення
                  </div>
                  <div class="m-l-xl"> - сектор метеорологічних прогнозів</div>
                  <div class="m-l-xl"> - сектор агрометеорології</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold text-bold">
                    <i class="fa fa-square m-r-md"></i> Відділ гідрології
                  </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold text-bold">
                    <i class="fa fa-square m-r-md"></i> Лабораторія з повірки засобів вимірювальнох техніки
                  </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold text-bold">
                    <i class="fa fa-square m-r-md"></i> Сектор технічного обслуговування засобів вимірювальної техніки
                  </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Сектор автоматизованого прийому та передачі інформації
                  </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Комплексна лабораторія спостережень за забрудненням природного середовища
                  </div>
                  <div class="m-l-xl"> - сектор спостережень за забрудненням атмосферного повітря</div>
                  <div class="m-l-xl"> - сектор спостережень за забрудненням поверхневих вод</div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Авіаційна метеорологічна станція цивільна Запоріжжя
                  </div>
                  <div class="m-l-xl"> - сектор метеорологічних прогнозів</div>
                  <div class="m-l-xl"> - сектор технічного обслуговування</div>
                  <div class="m-l-xl"> - сектор радіолокаційних метеорологічних спостережень та інформації</div>
                  <div class="m-l-xl"> - сектор метеорологічних спостережень та інформації</div>
                  <div class="m-l-xl"> - сектор автоматизованого прийому і передачі інформації</div>
                  <div class="m-l-xl m-t-sm"><a href="/info/zaporozhye"><button type="button" class="btn-blue">Детальніше</button></a> </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Морська гідрометеорологічна станція Бердянськ
                  </div>
                  <div class="m-l-xl m-t-sm"><a href="/info/berdyansk"><button type="button" class="btn-blue">Детальніше</button></a></div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Метеорологічна станція Ботієве
                  </div>
                  <div class="m-l-xl m-t-sm"><a href="/info/botievye"><button type="button" class="btn-blue">Детальніше</button></a> </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Метеорологічна станція Гуляйполе
                  </div>
                  <div class="m-l-xl m-t-sm"><a href="/info/gulyaypole"><button type="button" class="btn-blue">Детальніше</button></a> </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Метеорологічна станція Кирилівка
                  </div>
                  <div class="m-l-xl m-t-sm"><a href="/info/kyrylivka"><button type="button" class="btn-blue">Детальніше</button></a> </div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Метеорологічна станція Мелітополь
                  </div>
                  <div class="m-l-xl m-t-sm"><a href="/info/melitopol"><button type="button" class="btn-blue">Детальніше</button></a></div>
                </div>
                <div class="list-item">
                  <div class="text-blue text-bold">
                    <i class="fa fa-square m-r-md"></i> Метеорологічна станція Пришиб
                  </div>
                  <div class="m-l-xl m-t-sm"><a href="/info/prism"><button type="button" class="btn-blue">Детальніше</button></a></div>
                </div>
              </div>
            </div>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>