<div class="modal fade" id="phenomenaModal" tabindex="-1" role="dialog" aria-labelledby="phenomenaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header block-blue text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title m-b-sm text-white" id="phenomenaModalLabel">Вітер, у т.ч. шквали, смерчі </div>
            <h5>максимальна швидкість</h5>
        </div>
        <div class="modal-body">
            <div class="flex-block just-sp-ar m-b-sm">
            <div class="text-gray m-l-r-10">Інтенсивність: 25 м/с  і більше</div>
            <div class="text-gray m-l-r-10">Тривалість: будь-яка</div>
            </div>               
            <div class="table-responsive">
            <table class="table phenomena-table">
                <tbody>
                <tr>
                    <td>11.11.2007</td>
                    <td>34 м/с</td>
                    <td>Бердянськ</td>
                </tr>
                <tr>
                    <td>17.03.2014</td>
                    <td>34 м/с</td>
                    <td>Запоріжжя</td>
                </tr>
                <tr>
                    <td>24.09.2014</td>
                    <td>33 м/с</td>
                    <td>Бердянськ</td>
                </tr>
                <tr>
                    <td>24.09.2014</td>
                    <td>28 м/с</td>
                    <td>Запоріжжя</td>
                </tr>
                <tr>
                    <td>24.09.2014</td>
                    <td>27 м/с</td>
                    <td>Ботієве</td>
                </tr>
                <tr>
                    <td>24.09.2014</td>
                    <td>26 м/с</td>
                    <td>Пришиб</td>
                </tr>                 
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="text-gray m-t-b-10">&lt; Попередній рекорд</button>
            <button type="button" class="text-gray m-t-b-10 active">Наступний рекорд &gt;</button>
        </div>
        </div>
    </div>
</div>