<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <% include ../partials/climatic_records/table %>
        <% modalId.forEach(function(item){%>
            <% include ../partials/climatic_records/modal %>
        <%})%>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/climatic_records/scripts %>
</body>
</html>