<!DOCTYPE html>
<html lang="en">

        <% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <% include ../partials/currentWether %>
    <% include ../partials/WeatherTable %>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>