<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>

        <% include ../partials/zptemperature %>
        <% include ../partials/weatherObl %>
        <% include ../partials/currentWether %>
        <% include ../partials/conventions %>
        <% include ../partials/waterTemperature %>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>


