<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <% include ../partials/meteorological_phenomena/table %>
        <% include ../partials/meteorological_phenomena/modal %>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/meteorological_phenomena/scripts %>
</body>
</html>