<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/header %>
    <section>
        <% include ../partials/regular_observations/table %>
        <% include ../partials/regular_observations/phenomena %>
    </section>
    <% include ../partials/footer %>

    <% include ../partials/scripts %>
</body>
</html>