<div class="block-white">
    <div class="container m-b-md">
        <div class="block-title text-center">
        <span class="number">02</span>
        Небезпечні гідрологічні явища
        </div> 
        <div class="list">
            <%= danger %>                
        </div> 
    </div>        
</div>