<div class="block-white">
    <div class="container m-b-md">
        <div class="block-title text-center">
        <span class="number">02</span>
        Поточна гідрологічна ситуація на водних об’єктах
        </div> 
        <div class="list text-style">
            <%= danger %>                
        </div> 
    </div>        
</div>