<div class="block-white">
    <div class="container m-b-md">
        <div class="block-title text-center">
        <span class="number">02</span>
        Небезпечні гідрологічні явища
        </div> 
        <div class="list">
        <div class="list-item">
            Гідрологічна ситуація спокійна, рівні води знаходяться у межах русел.
        </div>
        <div class="list-item">
            Утримання тривалий час жаркої і сухої погоди влітку 2016 року зумовило формування низьких і дуже низьких рівнів і витрат води більшості річок України 
            з наближенням їх до критеріїв маловоддя, при яких ускладнюються функціонування водогосподарського комплексу держави і забезпечення водою населення.
        </div>   
        <div class="list-item">
            Збереження до кінця серпня переважно сухої погоди спричинить подальше зменшення водності річок і ускладнення гідрологічної ситуації.
        </div>                     
        </div> 
    </div>        
</div>