<div class="background background_8"></div>
    <div class="block-blue">
    <div class="block-title text-center text-white">
        <span class="number">01</span>
        Регулярні спостереження в період весняної повені
    </div>  
    <div class="text-center text-white">Поточна ситуація на річках та водосховищах станом на 08 годину 24.11.2017р.</div>
    <hr class="dash">
    <div class="container m-b-xl">
        <div class="table-responsive">
        <table id="regular_observations" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>№ з/п</th>
                <th>Гідрологічні пости</th>
                <th>Відмітка виходу води на заплаву (см над умовним 0 водомірного поста)</th>
                <th>Фактичний рівень води (см)</th>
                <th>Зміна рівня води за добу</th>
                <th>Льодові явища</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td> р. Берда &nbsp; <span class="text-gray">с. Осипенко</span></td>
                <td>400</td>
                <td>175</td>
                <td>-3</td>
                <td>чисто</td>
            </tr>
            <tr>
                <td>2</td>
                <td> р. Обитічна &nbsp; <span class="text-gray">м. Приморськ</span></td>
                <td>340</td>
                <td>222</td>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td> р. Лозуватка &nbsp; <span class="text-gray">с. Новоолексіївка</span></td>
                <td>410</td>
                <td>111</td>
                <td>-1</td>
                <td></td>
            </tr> 
            <tr>
                <td>4</td>
                <td> р. Молочна &nbsp; <span class="text-gray">м. Токмак</span></td>
                <td>300</td>
                <td>194</td>
                <td>0</td>
                <td></td>
            </tr>     
            <tr>
                <td>5</td>
                <td> р. Молочна &nbsp; <span class="text-gray">с. Терпіння</span></td>
                <td>300</td>
                <td>128</td>
                <td>+2</td>
                <td></td>
            </tr>  
            <tr>
                <td>6</td>
                <td> Дніпровське вдсх. &nbsp; <span class="text-gray">м. Запоріжжя - верхній б'єф</span></td>
                <td>869</td>
                <td>767</td>
                <td>+6</td>
                <td></td>
            </tr>   
            <tr>
                <td>7</td>
                <td> Каховське вдсх. &nbsp; <span class="text-gray">с. Благовіщенка</span></td>
                <td>500</td>
                <td>353</td>
                <td>+5</td>
                <td></td>
            </tr>   
            <tr>
                <td>8</td>
                <td> Каховське вдсх. &nbsp; <span class="text-gray">с. Плавні</span></td>
                <td>480</td>
                <td>342</td>
                <td>+3</td>
                <td></td>
            </tr>  
            <tr>
                <td>9</td>
                <td> Каховське вдсх. &nbsp; <span class="text-gray">с. Розумівка</span></td>
                <td>500</td>
                <td>361</td>
                <td>+15</td>
                <td></td>
            </tr>                                                                                              
            </tbody>
        </table>   
        </div>       
    </div>      
</div>