<div class="background background_13"></div>
    <div class="container m-b-md">
    <div class="block-title text-center">
        Події
    </div>  
    <div class="events">
        <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="background img_event"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="event-title text-blue text-bold">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14)
            </div>
            <div class="text-gray event-date">12.01.2017</div>
            <div class="m-t-b-10">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14) <br>
            25-26 листопада 2015, Марракеш, Марокко <br>
            Сезонна перспектива зими 2015/2016 для країн Південно-Східної Європи та Кавказу
            </div>
            <div class="event-link">
            <a href="/single_events/1" class="text-blue"> Прочитати про подію > </a>
            </div>
        </div>              
        </div>
        <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="background img_event"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="event-title text-blue text-bold">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14)
            </div>
            <div class="text-gray event-date">12.01.2017</div>
            <div class="m-t-b-10">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14) <br>
            25-26 листопада 2015, Марракеш, Марокко <br>
            Сезонна перспектива зими 2015/2016 для країн Південно-Східної Європи та Кавказу
            </div>
            <div class="event-link">
            <a href="/single_events/1" class="text-blue"> Прочитати про подію > </a>
            </div>
        </div>              
        </div>
        <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="background img_event"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="event-title text-blue text-bold">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14)
            </div>
            <div class="text-gray event-date">12.01.2017</div>
            <div class="m-t-b-10">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14) <br>
            25-26 листопада 2015, Марракеш, Марокко <br>
            Сезонна перспектива зими 2015/2016 для країн Південно-Східної Європи та Кавказу
            </div>
            <div class="event-link">
            <a href="/single_events/1" class="text-blue"> Прочитати про подію > </a>
            </div>
        </div>              
        </div>
        <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="background img_event"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="event-title text-blue text-bold">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14)
            </div>
            <div class="text-gray event-date">12.01.2017</div>
            <div class="m-t-b-10">
            14 СЕСІЯ Кліматичного форуму країн Південно-Східної Європи та Кавказу (SEECOF-14) <br>
            25-26 листопада 2015, Марракеш, Марокко <br>
            Сезонна перспектива зими 2015/2016 для країн Південно-Східної Європи та Кавказу
            </div>
            <div class="event-link">
            <a href="/single_events/1" class="text-blue"> Прочитати про подію > </a>
            </div>
        </div>              
        </div>
        <div class="text-center">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
        </div>
    </div>      
</div>