<div class="top-round-block warning-block text-center">
    <div class="m-t-xl">Шторомове попередження про найважливіші метеорологічні явища</div> 
        <hr class="dash dash-blue">  
        <div class="warning-text m-b-sm"><%= StormWarning %></div>
</div>