<div class="background background_4_1"></div>
    <div class="block-white">
    <div class="block-title text-center">
        Гідрометеорологічний бюлетень
    </div>  
    <div class="container">
        <div class="clear m-b-md">
            <div class="f-l text-gray">26 липня 2016р.</div>
            <div class="f-r text-gray">№ 207</div>
        </div>
            <% include ./StormWarning %>
    </div> 
</div>